  @import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

* {
    box-sizing: border-box'
}

body {
    font-family: 'Rozha One', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}